<div class="middle_bar">
	<div class="panel_top">
		<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SETTINGS_TAB'}"></h2>
	</div>
	<div class="panel_center">
		<div class="fields">
			<div class="fieldset" data-bind="visible: !accountExist()">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_EMAIL'}"></span>
					<select class="input" data-bind="options: emails, value: selectedEmail"></select>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD'}"></span>
					<input type="password" class="input" data-bind="value: password" />
				</div>
			</div>
			<div class="buttons" style="text-align: left;" data-bind="visible: !accountExist()">
				<span class="button" data-bind="click: createMastodonAccount">
					<span data-bind="i18n: {'key': '%MODULENAME%/BUTTON_CREATE_MASTODON_ACCOUNT'}"></span>
				</span>
			</div>
			<div class="buttons" style="text-align: left;" data-bind="visible: accountExist">
				<span class="button" data-bind="click: changeMastodonAccountPassword">
					<span data-bind="i18n: {'key': '%MODULENAME%/BUTTON_CHANGE_MASTODON_ACCOUNT_PASSWORD'}"></span>
				</span>
			</div>
			<div class="buttons" style="text-align: left;" data-bind="visible: accountExist">
				<span class="button" data-bind="click: removeMastodonAccount">
					<span data-bind="i18n: {'key': '%MODULENAME%/BUTTON_REMOVE_MASTODON_ACCOUNT'}"></span>
				</span>
			</div>
		</div>
	</div>
</div>
